*{  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.pilhaCartoes {
    display: flex;
    flex-direction: column;
    gap: 40vh; /* espaço de rolagem entre um cartão e o próximo */
    padding-bottom: 20vh;
}

.cartao {
    position: sticky;
    height: 60vh;
    width: 80%;
    border-radius: 24px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.cartaoUm {
    top: 5vh;
    background: #207F70;
}

.cartaoDois {
    top: 8vh;
    background: #00E6A6;
}

.cartaoTres {
    top: 11vh;
    background: #0d3b34;
}
