*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #1F1F1F;
    background-image: url(../assets/imgs/blur.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: 
        linear-gradient(#dddddd03 1px, transparent 1px),
        linear-gradient(90deg, #dddddd03 1px, transparent 1px);
        background-size: 1px 1px; */
}

.union{
    position: absolute;
    height: 60vh;
    bottom: 0;
    left: 0;
}

main{
    z-index: 999;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.esquerda{
    padding-left: 7vw;
    padding-top: 7vh;
}


.seta{
    padding-left: 0.5vw;
    transition: .2s;
}
.seta:hover{
    cursor: pointer;
    img{
        transform: scale(1.1);
        transition: .2s ease-in-out;
    }
}

.logo{
    padding-top: 4vh;
    display: flex;
    align-items: center;
    gap: 2vw;
    .crypto{

        font-family: 'manrope';
        font-weight: 800;
        font-size: 48px;
        color: white;
    }
}

.direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .titulo{
        font-family: 'manrope';
        font-size: 48px;
        font-weight: 800;
        color: white;
    }
}

.form{
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    gap: 2.7vh;
}

.campos{
    display: flex;
    flex-direction: column;
    font-family: 'manrope';
    font-size: 20px;
    font-weight: 800;
    color: white;
    gap: 0.7vh;
    .campo{
        padding-left: 1vw;
    }
    input{
        padding-left: 1vw;
        outline: none;
        border:2px solid #207F70 ;
        border-radius: 18px;
        background-color: #1F1F1F;
        height: 8vh;
        width: 35vw;
        font-family: 'manrope';
        font-size: 20px;
        font-weight: 800;
        color: white;
    }
    input:focus{
        transition: .1s ease-in-out;
        transform: scale(1.03);
    }
}

.submit{
    font-family: 'inter';
    margin-top: 2vh;
    font-size: 28px;
    font-weight: 700;
    padding: 2vh 2vw;
    border: none;
    border-radius: 15px;
    color: white;
    background: linear-gradient(45deg, #207F70, #00E6A6);
}

.submit:hover{
    transition: .2s ease;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 5px 0.5px #00E6A6;
}

/* Fonts */

@font-face {
    font-family: 'manrope';
    src: url(../assets/fonts/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'inter';
    src: url(../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}